//
   Created by kwilkinson on 4/27/15.

extends ../layout

block content
    h1(class='text-center') Client New
    form(class='form-horizontal', name='addclient', method='post', action='/clients')
        div(class='form-group')
            label(for='first_name', class='col-sm-2 control-label') First Name:
            div(class='col-sm-10')
                input(class='form-control', type='text', placeholder='First Name', id='first_name', name='first_name')
        div(class='form-group')
            label(for='last_name', class='col-sm-2 control-label') Last Name:
            div(class='col-sm-10')
                input(class='form-control', type='text', placeholder='Last Name', id='last_name', name='last_name')
        div(class='form-group')
            label(for='email', class='col-sm-2 control-label') Email:
            div(class='col-sm-10')
                input(class='form-control', type='text', placeholder='Email', id='email', name='email')
        div(class='form-group')
            label(for='company', class='col-sm-2 control-label') Company:
            div(class='col-sm-10')
                input(class='form-control', type='text', placeholder='Company', id='company', name='company')
        div(class='form-group')
            label(for='project', class='col-sm-2 control-label') Project:
            div(class='col-sm-10')
                input(class='form-control', type='text', placeholder='Project', id='project', name='project')
        div(class='form-group')
            label(for='phone', class='col-sm-2 control-label') Phone:
            div(class='col-sm-10')
                input(class='form-control', type='text', placeholder='Phone', id='phone', name='phone')
        div(class='form-group')
            div(class='col-sm-offset-2 col-sm-10')
                button(class='btn btn-primary btn-block btn-lg', type='submit') Submit
                a(class='btn btn-default btn-lg btn-block', href='/clients') Cancel